.product_container {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: auto;
}

.product_card {
  max-height: 600px;
  width: 70%px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 10px solid #a53e3afd;
  margin:0 50px
}
.product_title {
  text-align: center;
}

.product_description {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.detailsInfo{
  width:60%;
  margin-top: 50px;
}

.addContainer {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cntBtn {
  margin-left: 10px;
  margin-right: 10px;
  background: #a53e3afd;
  color: white;
  padding: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.productDetailContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 600px;
}

.imagewidth{
  width: 400px;
}
